html{
  font-size: 18px;
  /*box-sizing: border-box;*/
}

body {
  font-family: 'Hind Guntar', sans-serif;
  font-weight: 600;
  color: #a1a178;
  line-height: 1.2;
}
/*Header*/

header {
  position: fixed;
  z-index: 5;
  background-color: #ffffff;
  width: 100%;
}

@media only screen and (max-width: 745px) {
  header .desktop {
    display: none;
  }
}

header .mobile {
  display: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding: 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.5rem;
}

 header #first {
  color: black;
  font-weight: lighter;
}
/* Nav Section */

header nav ul {
  display: flex;
}

/*nav .container.mobile {
  width: 100%;
}*/

.desktop nav li {
 padding-right: 1.33rem;
}

a {
  text-decoration: none;
}

nav .learning-options li a {
  color: #a1a178;
}

 a:hover {
  border-bottom: 2px solid #a1a178;
}


/* Upper Box */

.container {
  display: flex;
  align-items: center;
}

#upper-box {
  background-color: #b6b696;
  padding: 5.89rem 1.33rem 1.78rem 1.33rem;
}

#upper-box img {
  width: 60%
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

.upper-text {
  padding-left: 2.22rem;
}

#upper-box h1 {
  color: white;
  line-height: 1;
}

#upper-box p {
  font-size: 1.5rem;
  color: white;
  padding-top: 2rem;
  margin-bottom: 3.78rem;
}

#upper-box .button {
  color: white;
  text-align: center;
  background-color: #87875e;
  width: 80%;
  border-radius: 5px;
  padding: .44rem 0;
  /*transition: background-color 400ms linear;*/
}

.mid-left {
  width: 58.5%;
  padding: 1.78rem 1.33rem 2.5rem 1.33rem;
  border-right: 1px solid #eaeae1;
}

.mid-left img {
  width: 100%;
  margin-bottom: 1.78rem;
}

.mid-left h2 {
  font-size: 2.25rem;
  padding-top: 1.78rem;
  padding-bottom: 1.33rem;
  color: #87875e;
}

#mid-box .mid-left h2 {
  font-weight: 800;
}

.mid-left p {
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

.mid-left span {
  font-size: .85rem;
  font-weight: 400;
  font-style: oblique;
}

/* Middle Box Right Side*/

.right-content {
  padding-top: 1.78rem;
  border-bottom: 1px solid #eaeae1;
  width: 38%;
  display: block;
  margin-bottom: 3.8rem;
}

.content-container {
  display: flex;
  align-items: center;
  padding: .89rem;
  border-bottom: 1px solid #eaeae1;
}


.content-container:nth-child(3n+3) {
  background-color: #eaeae1;
}

.right-content img {
   width: 42%;
}

.right-content h2 {
  font-size: 1.2rem;
  color: #87875e;
  padding-bottom: .44rem;
}

.information {
  padding-left: .89rem;
}

.information a {
  text-decoration: none;
  color: #cc3300;
  padding-top: .44rem;
  font-size: .9rem;
}
.right-content p {
  font-size: .85rem;
  padding-bottom: 2rem;
}

/* Lower Box*/

#lower-box {
  align-items: center;
  flex-direction: column;
  padding: 1.78rem 1.33rem;
  background-color: #e0e0d2;
}

#lower-box h1 {
  text-align: center;
  padding-bottom: 1.78rem;
}

#lower-box .learning {
  color: #87875e;
  font-size: 2rem;
}

#lower-box .classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lower-box .course {
  display: flex;
  flex-direction: column;
  max-width: 27%;
  margin: 0 .89rem 1.78rem .89rem;
  background-color: #ffffff;
  border-radius: 10px;
}

.image-container img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

#lower-box .content {
  padding: .89rem .89rem 1.78rem .89rem;
}

#lower-box .content h3 {
  padding: .89rem 0 0.44rem 0;
}
.content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #87875e;
}
.content p {
  padding-top: .44rem;
  font-weight: 300;
}

/*Thesis Box*/

#thesis-box {
  padding-top: 1.78rem;
}

#thesis-box h3 {
  font-size: 1.78rem;
  text-align: center;
  padding: .89rem;
  color: #87875e;
  font-weight: 700;
}

div .thesis-box {
  padding: 1.78rem 1.33rem;
  align-items: flex-start;
}

div .information-left {
  width: 58.5%;
  padding: .89rem;
}

.thesis-text {
  padding-bottom: 1.78rem;
}

.thesis-text h4 {
  color: #87875e;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

.thesis-text p {
  font-weight: 300;
}

.information-right {
  width: 42%;
  padding-bottom: 8.06rem;
}

.exhibit {
  padding-top: .89rem;
}

.exhibit img {
  width: 38%;
  padding-left: .89rem;
}

.exhibit:first-child {
  background-color: #eaeae1;
  padding-bottom: .89rem;
}

.exhibit-text h5 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: .89rem;
  color: #87875e;
}

.exhibit-text p {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: .89rem;
}

/*Footer*/

footer {
  border-top: 1px solid #eaeae1;
  justify-content: space-between;
  padding: 1.2rem;
}

footer h6 {
  display: inline-block;
  font-size: .9rem;
  color: #87875e;
  font-weight: 300;
}

.footer-right {
  text-align: center;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li h6 {
  padding-right: .5rem;
}
